.tableHeaderWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
}
.tableHeaderSearchWrapper{
    display: flex;
    align-items: center;
}