.base{
    &>input{
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        padding-right: 26px;
        padding-left: 10px;
        box-sizing: border-box;
        &::placeholder{
            color: rgb(216, 216, 216)
        }
    }
}
.search{
    position: relative;
    &>svg{
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 4px;
    }
}